<form action="/signup" method="POST">
  <div>
    <h1>Signup</h1>
  </div>
  <div>
    <label>Username</label>
    <input type="text" name="username" placeholder="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" required>
  </div>
  <button type="submit">Submit</button>
</form>

<a href="signin">signin</a>